---
# My own styles
---

/// 

#content-container {
    margin:0;
    padding:50px;
}

#navigate {
    display: block;
    width: 100%;
    font-size: 175%;
    ul {
        list-style-type:none;
        width:100%;
        margin:0;
        padding:0;
        li {
            a {
                background-color:#333333;
                color:#EEEDDD;
                height:40px;
                width:25%;
                text-decoration:none;
                display:flex;
                float:left;
                align-items:center;
                justify-content:center;
                &:hover {
                    background-color: #444555;
                }
            }
        }
    }
} 

embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
