<!-- main navigation bar -->
<nav id="navigate">
    <ul>
        <li><button onclick="location.href='/'">Home</button></li>
        <li><button onclick="location.href='/blog'">Blog</button></li>
        <li><button onclick="location.href='/about'">About</button></li>
        <li><button onclick="location.href='/cv'">Are you hiring?</button>
            <ul class="drop-menu">
                <li><button onclick="location.href='/cv/eng'">English CV</button></li>
                <li><button onclick="location.href='/cv/spa'">Spanish CV</button></li>
            </ul></li>
    </ul>
</nav>

